SOAP/src/main/resources/SoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapService" targetNamespace="http://all.Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://all.Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema targetNamespace="http://all.Services/" version="1.0" xmlns:ns92="http://all.Services/" xmlns:tns="http://all.Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="person" type="tns:person"/>
            <xs:element name="list" type="tns:repo"/>

            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element name="personId" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="repo">
                <xs:sequence>
                    <xs:element name="Person" type="tns:person"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPersonRequest">
        <wsdl:part name="personId" type="xsd:int">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part name="return" type="tns:person">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonsByAgeResponse">
        <wsdl:part name="return" type="tns:repo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonsByAgeRequest">
        <wsdl:part name="age" type="tns:int">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonService">
        <wsdl:operation name="getPerson">
            <wsdl:input name="getPersonRequest" message="tns:getPersonRequest">
            </wsdl:input>
            <wsdl:output name="getPersonResponse" message="tns:getPersonResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPersonsByAge">
            <wsdl:input name="getPersonsByAgeRequest" message="tns:getPersonsByAgeRequest">
            </wsdl:input>
            <wsdl:output name="getPersonsByAgeResponse" message="tns:getPersonsByAgeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ListBinding" type="tns:PersonService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getPersonRequest">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPersonsByAge">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getPersonsByAgeRequest">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:input>
            <wsdl:output name="getPersonsByAgeResponse">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonService">
        <wsdl:port name="ListPort" binding="tns:ListBinding">
            <soap:address location="http://localhost:1234/ListPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>